.login-container {
  height: 100%;
  background-image: url("@/assets/svg/login-bg.svg");

  .login-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96%;
    height: 94%;
    background-color: #fffc;
    border-radius: 10px;

  }

  .login-form{
    width: 420px;
    padding: 50px 40px 45px;
    border-radius: 10px;
    box-shadow: 2px 3px 7px #0003;
  }
}